

<div class="form-group">
   <p>商品名　　　<%= f.text_field :name,placeholder:"商品名",class:"form-control" %></p></div>
  <div class="form-group">
   <%= f.label:"商品説明" %>
   <%= f.text_area :introduction,placeholder:"商品説明" %></div>
  <div class="form-group">
    <%= f.label:"ジャンル" %></div>
  <div class="form-group">
   <%=f.label:"税抜き価格"%>
   <%= f.text_field :price,placeholder:"1000"%>円</div>
  <div class="form-group">
    <%=f.label:"販売ステータス"%>
  </div>
