<div class="container">
<h2 class="head-line">商品新規登録</h2>
<div class='row'>
<div class="col-sm-12 col-md-9 col-lg-6 px-3 px-sm-0 mx-auto">


<%= form_with model:@item,url:admin_items_path,local:true do |f| %>

<div class="form-group row">
<%= f.label :"商品画像",class:"col-sm-3"%>
<%= f.attachment_field :image%></div>
   
   <%= render "form", f: f %>

  
  <div class="form-group text-center mx-auto" style="margin-top:10px;">
  <%= f.submit '  新規登録   ' ,class: 'btn btn-success'%>
  </div>
<% end %>
</div>
</div>
</div>