<div class="container">
 
 <!--登録、更新完了　フラッシュメッセージ-->
<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<h2 class="head-line">商品詳細</h2>
<div class="row">
<div class="col-md-4">
 <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg",size:"300x300" %>
 </div>
 
 
 <div class="col-md-6">
 <table class="table table-borderless">
    <tr>
     <td>商品名</td>
     <td><%=@item.name %></td>
    </tr>
    <tr>
     <td>商品説明</td>
   <!--safe-join splitで改行で入力したものが改行で出力されます。-->
     <td><%=safe_join(@item.introduction.split("\n"),tag(:br)) %></td>
    </tr>
    <tr>
     <td>ジャンル</td>
     <td><%= @item.genre.name %></td>
    </tr>
    <tr>
     <td>税込価格</td>
     
       <!--.roundeで四捨五入。to_sで文字列に、:del~で３桁区切りの表示になる-->
       <!--税額についてはモデルファイルで定義しています。-->
     <td><strong><%= @item.taxin_price.round.to_s(:delimited) %>
       (<%=@item.price.to_s(:delimited)%>)円</strong><br>(税抜価格)</td>
    </tr>
    <tr>
     <% if @item.on_sale == true %>
     <td>販売ステータス</td>
     <td style="color:green;">販売中</td>
     <% elsif @item.on_sale == false %>
     <td>販売ステータス</td>
     <td style="color:gray;">販売停止中</td>
     <% end %>
    </tr>
 </table>
 
 
 <div class="text-center">
 <%= link_to "　編集する　", edit_admin_item_path(@item),class:"btn btn-success"%></div>
 </div>
 </div>
 </div>