<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12 px-sm-0, content'>
    <span class="title">　注文情報確認　</span>

    <div style="width: 85%; margin-top: 20px;">
      <table cellpadding="10" border="1" align="left">
        <!--colgroupはtdでcolspanを適用させるために記載-->
        <colgroup>
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
          <col style="width: 10%;">
        </colgroup>
        <tr class="item">
          <td colspan="4">商品名</td>
          <td colspan="2">単価（税込）　</td>
          <td colspan="2">数量</td>
          <td colspan="2">小計</td>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td colspan="4">
              <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "no_image.jpg",size:"50x50" %>
              &emsp;<%= cart_item.item.name %>
          </td>
          <td colspan="2"><%= cart_item.item.taxin_price.round.to_s(:delimited) %></td>
          <td colspan="2"><%= cart_item.quantity %></td>
          <td colspan="2"><%= cart_item.sum_of_price.round.to_s(:delimited) %></td>
        </tr>
        <% end %>
      </table>
      <table cellpadding="10" border="1" align="right">
        <colgroup>
          <col style="width: 50%;">
          <col style="width: 50%;">
        </colgroup>
        <tr>
          <td class="item">送料</td>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <td class="item">商品合計　</td>
          <td>
            <%= @total.round.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td class="item">請求金額</td>
          <td><%= (@total + @order.postage).round.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>

    <div style="clear: both;">
    <br>
      <span class="subtitle">支払い方法</span>&emsp;
      <%= @order.payment %>
    </div>
    <br>
    <div>
      <span class="subtitle">お届け先</span>&emsp;&emsp;
      <span>〒<%= @order.postal_code %>&emsp;<%= @order.address %></span><br><span style="margin-left: 120px;"><%= @order.name %></span>
    </div>
    <br>
    <div align="center">
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.submit '注文を確定する', class: "btn btn-success" %>
      <% end %>
    </div>
    </div>
  </div>
</div>

<style>
  .content{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title{
    margin-left: 30px;
    background-color: #EEEEEE;
    font-size: 20px;
    font-family: serif;
  }
  .item{
    background-color: #EEEEEE;
  }
  .subtitle{
    font-size: 20px;
    font-family: serif;
  }
</style>