<div class="container">
 <div class="row" style="margin-top:40px;">
     
<!--ジャンルの部分は部分テンプレート-->
  <%= render 'genrelist' %>
   
  <div class="col-9">
      <div class="card text-black" style="margin-bottom:45px;">
          <%= image_tag 'ringo-back.jpg',size:"850x400"%>
          <div class="card-img-overlay">
              <div class="card-text-box" style="background-color:#FFE4E1; width:75%;">
              <p class="card-text" style="padding:20px;">
              <strong>ようこそ、ながのCAKEへ！</strong><br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br>
              </p></div>
          </div>
       </div>
       
       
       <div class="item-list">
           <h2 class="head-line">新着商品</h2>
           <div class="d-flex flex-row">
               <% @items.each do |item| %>
               <div class="item-image col-3" style="margin-bottom:30px;">
               <%= link_to item_path(item) do %>
               <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no_image.jpg",size:"200x200" %><% end %><br>
               <%=item.name %><br>
               <!--￥%= item.taxin_price.round.to_s(:delimited) %>-->
               </div>
               <% end %>
           </div>
        </div>
        
           <div class="link text-right">
             <%= link_to "全ての商品を見る>","items"%>
           </div>
       </div>
  </div>
  
  
  </div>
  </div>