<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'logo1.png', size: '200x100' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        
        <!--カスタマーログイン後は以下のメニューが表示されるようにしてください。-->
        <!--% if customer_signed_in? %>-->
          <!--<li>マイページ</li>-->
          <!--<li>商品一覧</li>-->
          <!--<li>カート</li>-->
          <!--<li>ログアウト</li>-->
        
        <!--ログインしてない-->
        <!--% else %>-->
          <li class="nav-item"><%= link_to "About","/",class:'nav-link btn btn-outline-danger'%></li>
          <li class="nav-item pl-4"><%= link_to "商品一覧","/",class:'nav-link btn btn-outline-danger'%></li>
          <li class="nav-item pl-4"><%= link_to "新規登録","/",class:'nav-link btn btn-outline-danger'%></li>
          <li class="nav-item pl-4"><%= link_to "ログイン","/",class:'nav-link btn btn-outline-danger'%></li>
          <li><div class="input-group pl-4">
	        <input type="text" class="form-control" placeholder="Search">
		      <button type="button" class="btn btn-default fas fa-search"></button>
          </div></li>
        <!--% end %>-->
        </ul>
      </div>
    </div>
  </nav>
</header>